# Desarrollo
API_URL_DEV=http://localhost:3000/api
COMPANY_NAME_DEV=Mi Empresa (DEV)


# Staging
API_URL_STAGING=https://staging.miempresa.com/api
COMPANY_NAME_STAGING=Mi Empresa (STAGING)

# Producción
API_URL_PROD=https://miempresa.com/api
COMPANY_NAME_PROD=Mi Empresa

# Evitar guardar token en el env del frontend: valor del token despues del '_': XcvbhbuPeeb9RIMA070S3NP3YcOQxt2r1XFK
GITHUB_TOKEN=ghp_TOKEN
