<h1 class="text-3xl">Sobre la aplicacion</h1>
<hr class="my-2"/>

<section>
  <p class="mb-4">
    En un mundo donde la tecnología evoluciona a cada instante, las ideas frescas y la creatividad se convierten en los motores del cambio. Cada línea de código, cada diseño y cada interacción construyen experiencias que trascienden pantallas. Esta página es solo el comienzo de una historia que se adapta, crece y se transforma con cada visita. Porque lo digital no es solo funcional: también puede ser memorable.
  </p>
</section>
