@if(!pokemon.error() && !pokemon.isLoading() && pokemon.value()  ){
  @let p = pokemon.value()!;

  <div class="max-w-xl mx-auto bg-white rounded-2xl shadow-lg p-6 text-black">
  <div class="flex items-center gap-4 mb-4">
    <img [src]="p.sprites?.other?.['official-artwork']?.front_default || p.sprites?.front_default"
         [alt]="p.name"
         class="w-24 h-24 object-contain" />
    <div>
      <h2 class="text-2xl font-bold capitalize">{{ p.name }}</h2>
      <span class="text-sm text-gray-500">#{{ p.id }}</span>

      @if(p.cries?.latest){
        <audio controls class="my-2">
          <source [src]="p.cries.latest" type="audio/wav">
        </audio>
      }

    </div>

  </div>

  <div class="flex gap-2 mb-4">
    <span *ngFor="let t of p.types"
          class="px-2 py-1 rounded text-xs font-semibold capitalize"
          [ngClass]="{
            'bg-green-200 text-green-800': t.type.name === 'grass',
            'bg-red-200 text-red-800': t.type.name === 'fire',
            'bg-blue-200 text-blue-800': t.type.name === 'water'
          }">{{ t.type.name }}</span>
  </div>

  <div class="grid grid-cols-2 gap-4 text-sm mb-4">
    <div><span class="font-semibold">Altura:</span> {{ p.height / 10 }} m</div>
    <div><span class="font-semibold">Peso:</span> {{ p.weight / 10 }} kg</div>
    <div><span class="font-semibold">Experiencia:</span> {{ p.base_experience }}</div>
    <div><span class="font-semibold">Habilidad:</span>
    @if( p.abilities?.length ){
      {{ p.abilities[0].ability?.name }}
    }
    </div>
  </div>

  <div>
    <h3 class="font-semibold mb-2">Estadísticas</h3>
    @for( s of p.stats; track $index){
      <div class="mb-2">
        <div class="flex justify-between text-sm mb-1">
          <span class="capitalize">{{ s.stat.name }}</span>
          <span>{{ s.base_stat }}</span>
        </div>
        <div class="h-2 w-full bg-gray-200 rounded">
          <div class="h-2 bg-green-500 rounded" [style.width.%]="s.base_stat / 255 * 100"></div>
        </div>
      </div>
    }

  </div>
</div>
}@else if(pokemon.isLoading() ){
    <!-- Loading -->
  <div class="text-center text-gray-500 animate-bounce">
    Cargando Pokémon...
  </div>
} @else if ( pokemon.error() ) {

  <!-- Error -->
  <div class="text-center text-red-600 font-semibold">
    No se pudo cargar el Pokémon. Verifica el ID.
  </div>
}




